<div class="card">
	<a href="{{ path('favoris_new', {id: microservice.id}) }}" class="favoris" class="{{ app.user ? 'js-favoris' : '' }}">
		{% if app.user and microservice.isAddedByUser(app.user) %}
			<i class="fa-solid fa-heart-circle-minus"></i>
		{% else %}
			<i class="fa-solid fa-heart-circle-plus"></i>
		{% endif %}
	</a>
	<a href="{{ path('microservice_details', {slug: microservice.slug}) }}">
		{% if microservice.medias|length > 0 %}
			<img class="img-service"
				 src="{{ vich_uploader_asset(microservice.medias[0], 'imageFile') }}" />

{#			<img class="img-service"#}
{#				 src="{{ vich_uploader_asset(microservice.medias[0], 'imageFile') | imagine_filter('medium_size') }}" />#}
		{% else %}
			<img class="img-service" src="{{ asset('themes/layout/img/hero.jpg') | imagine_filter('medium_size') }}" />
		{% endif %}
	</a>
	<a href="{{ path('microservice_details', {slug: microservice.slug}) }}" class="info">
		<div class="profil">
			{% if microservice.vendeur.reseauAvatar %}
				<img src="{{ microservice.vendeur.reseauAvatar }}" alt="{{ microservice.vendeur.usePseudo == 1 ? microservice.vendeur.pseudo : microservice.vendeur.usePseudo == 1 ? microservice.vendeur.pseudo : microservice.vendeur.nom ~ ' ' ~ microservice.vendeur.prenom }}">
			{% else %}
				{% if microservice.vendeur.avatar %}
					<img src="{{ vich_uploader_asset(microservice.vendeur, 'imageFile') | imagine_filter('medium_avatar') }}"
						 alt="{{ microservice.vendeur.usePseudo == 1 ? microservice.vendeur.pseudo : microservice.vendeur.usePseudo == 1 ? microservice.vendeur.pseudo : microservice.vendeur.nom ~ ' ' ~ microservice.vendeur.prenom }}">
				{% else %}
					<img src="{{ asset('img/user.jpg') | imagine_filter('medium_avatar') }}" alt='' />
				{% endif %}
			{% endif %}

			<span class="user">
				{{ microservice.vendeur.nickName }}
			</span>
		</div>

		{% if not page_profile|default %}
			{% if serviceAvis(microservice) %}
				<div class="level">
					<i class="fa-solid fa-star"></i>
					<span class="feedback">
					{{ moyenneAvis(microservice.vendeur) }}
				</span>
					<span class="feedback-nbr">
					<span>({{ serviceAvis(microservice) }} avis)</span>
				</span>
				</div>
			{% else %}
				<div class="level">
				<span class="feedback-nbr">
					<span>Nouveau</span>
				</span>
				</div>
			{% endif %}
		{% endif %}
	</a>
	<a href="{{ path('microservice_details', {slug: microservice.slug}) }}" class="title">
		{{ microservice.name|u.truncate(61, '...') }}
	</a>

	<p class="price">à partir de {{ microservice.prix ~ currency }}</p>
</div>