{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <link href="{{ asset('themes/custom/about.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="page-editorial">
        <div class="hero-editorial">
            <div class="container">
                <h1 class="primaryTitle textcenter">À propos de Talengo.io</h1>
                <!-- <h2 class="lightText textcenter">Qualité, confiance, impact. C’est notre promesse</h2> -->
            </div>
        </div>
        <div class="textImage">
            <div class="container">
                <div class="content">
                    <div class="img">
                        <img src="{{ asset('pages/apropos/2_notre_mission.svg') }}" alt="">
                    </div>
                    <div class="text-content">
                        <h2 class="secondaryTitle">Talengo.io</h2>
                        <h3 class="secondaryTitle">La plateforme au service des prestataires et porteurs
                            de projets</h3>
                        <p>Talengo.io est une plateforme innovante conçue pour connecter <strong>prestataires de services</strong> et <strong>porteurs de
                                projets</strong> dans un environnement numérique simple, fiable et ouvert. Que vous soyez un expert indépendant
                            à la recherche de missions ou un entrepreneur souhaitant faire avancer ses projets grâce à des talents
                            qualifiés, Talengo.io est votre allié de confiance.</p>
                        <p>Notre ambition est claire : offrir une expérience fluide et transparente, qui valorise les compétences tout
                            en facilitant la collaboration, partout dans le monde.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="textImage img-right">
            <div class="container">
                <div class="content">
                    <div class="img">
                        <img src="{{ asset('pages/apropos/3_notre_mission.svg') }}" alt="">
                    </div>
                    <div class="text-content">
                        <h2 class="secondaryTitle">Notre mission</h2>
                        <h3 class="secondaryTitle"> Simplifier la collaboration professionnelle</h3>
                        <p>Nous vivons une époque où les modes de travail évoluent rapidement. Chez Talengo.io, notre mission est
                            de <strong>rendre accessible la collaboration entre prestataires de services et porteurs de projets</strong>, en
                            supprimant les barrières traditionnelles.</p>
                        <p>Nous voulons permettre à chacun, qu’il soit freelance, entrepreneur, particulier de trouver facilement son
                            partenaire idéal, en toute sérénité. Notre plateforme vise à optimiser la mise en relation, simplifier la
                            gestion des missions, et sécuriser chaque étape pour que vous puissiez vous concentrer sur l’essentiel :
                            votre expertise et vos ambitions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slogan-content">
            <div class="container">
                <div class="content">
                    <h4 class="secondaryTitle">La confiance avant tout</h4>
                    <p>Sur Talengo.io, les profils sont vérifiés et les services évalués.<br> Des règles strictes protègent notre communauté.</p>
                </div>
            </div>
        </div>
        <div class="textImage">
            <div class="container">
                <div class="content">
                    <div class="img">
                        <img src="{{ asset('pages/apropos/4_apropos.svg') }}" alt="">
                    </div>
                    <div class="text-content">
                        <h2 class="secondaryTitle">Nos valeurs</h2>
                        <h3 class="secondaryTitle">Confiance, simplicité, liberté</h3>
                        <ul>
                            <li><i class="fa-regular fa-circle-check"></i><strong>Confiance </strong>: Nous croyons que toute collaboration réussie repose sur un climat de confiance
                                mutuelle. C’est pourquoi nous valorisons la transparence, la vérification des profils, et le respect
                                des engagements.</li>
                            <li><i class="fa-regular fa-circle-check"></i><strong>Simplicité </strong>: Talengo.io a été pensée pour être intuitive et facile d’utilisation. De l’inscription à la
                                gestion de projet, tout est fluide, accessible et rapide.</li>
                            <li><i class="fa-regular fa-circle-check"></i><strong>Liberté géographique </strong>: Le travail n’a plus de frontières. Nous offrons à nos utilisateurs la
                                possibilité de collaborer depuis n’importe où, qu’ils soient à Paris, New York, ou en télétravail au
                                soleil. La flexibilité est au cœur de notre ADN.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
