{% extends 'base.html.twig' %}

{% block title %}Compte vendeur - {{ user.usePseudo == 1 ? user.pseudo : user.nom ~ ' ' ~ user.prenom }} {% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('themes/layout/js/lib/jquery.magnific-popup.min.js') }}"></script>
{% endblock %}


{% block body %}

<div class="container page-profil">
    <div class="contentSticky">
        <div class="sticky-card">
        		{% if user.reseauAvatar %}

				<img src="{{ user.reseauAvatar }}" class="img-fluid rounded-circle"
					alt="{{ user.usePseudo == 1 ? user.pseudo : user.usePseudo == 1 ? user.pseudo : user.nom ~ ' ' ~ user.prenom }}"
					width="150">

				{% else %}

				{% if user.avatar %}

				<img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('small_size') }}"
					class="img-fluid rounded-circle"
					alt="{{ user.usePseudo == 1 ? user.pseudo : user.usePseudo == 1 ? user.pseudo : user.nom ~ ' ' ~ user.prenom }}">

				{% else %}

				<img class="img-fluid rounded-circle"
					src="{{ asset('img/user.jpg') | imagine_filter('small_size') }}" alt='' />

				{% endif %}

				{% endif %}
{#            <img src="dist/img/profile2.jpg" alt="">#}
            <h2 class="primaryTitle name">{{ user.usePseudo == 1 ? user.pseudo : user.nom ~ ' ' ~ user.prenom }}</h2>
            <h4 class="user-name">{{ user.nameUrl }}</h4>
            <div class="info">
                <div class="lightText">
                    <div>
                        <i class="fa-solid fa-cart-arrow-down"></i>
                        <span class="info-text">Commandes en cours :</span>
                    </div>
                    <span>{{ commandeEncours(user)|length }}</span>
                </div>
                <div class="lightText">
                    <div>
                        <i class="fa-solid fa-shop"></i>
                        <span class="info-text">Ventes au total :</span>
                    </div>
                    <span>{{ ventes(user)|length }}</span>
                </div>
                <div class="lightText">
                    <div>
                        <i class="fa-solid fa-briefcase"></i>
                        <span class="info-text">Nombre de services :</span>
                    </div>
                    <span >{{ microservices|length }}</span>
                </div>
                <div class="lightText">
                    <div>
                        <i class="fa-solid fa-calendar-days"></i>
                        <span class="info-text">Date d'inscription :</span>
                    </div>
                    <span >{{ user.created|ago(locale='fr') }}</span>
                </div>
                <div class="lightText">
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <span class="info-text">Les avis </span>
                    </div>
                    <div class="level">
                        <span class="feedback">{{ moyenneAvis(user) }}</span>
                        <span class="feedback-nbr">({{ allAvis(user) }}  avis)</span>
                    </div>
                </div>

            </div>
            <div class="stickyMobile">
                {% if app.user != user %}
                    <a class="btn btn-primaryBlue" href="{{ path('conversations_new', {vendeurNameUrl: user.nameUrl}) }}">
                        Me contacter
                    </a>
                {% endif %}
                <p class="time lightText">Temps de réponse : <span>2h</span></p>
            </div>

        </div>
    </div>
    <div class="content-profil">
        <div class="profilSection aboutme">
            <h3 class="secondaryTitle"> A propos de <span style="color: #4c8be8">{{ (user.usePseudo == 1 ? user.pseudo : user.nickName)|capitalize }}</span></h3>
            <div class="description">
                {{ user.apropos|raw }}
            </div>
            {% if user.apropos|length > 800 %}
                <div class="show-more lightText"><span class="toggle-btn">lire la suite</span></div>
            {% endif %}
        </div>
        <div class="profilSection competences">
            <h3 class="secondaryTitle">compétences</h3>
            <div class="content">
                {% for skill in user.competences %}
                    <span class="tag">{{ skill.name }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="profilSection portfolio">
            <h3 class="secondaryTitle">portfolio</h3>
            <div class="content">
                {% for key, realisation in user.realisations %}
                    <div class="card">
                    <!-- dans repeater card merci de mettre un data id qui incremente avec 1  -->
                        <div class="contentCard open-popup-link" data-popup-id="datapopup_{{ key }}">

                             {% if realisation.file %}
                                <img src="{{ vich_uploader_asset(realisation, 'imageFile') | imagine_filter('medium_size') }}"
                                     class="img-fluid"
                                     alt="" />
                            {% endif %}
                            <h4 class="title">{{ realisation.name }}</h4>
                            <p>{{ realisation.description|u.truncate(150, '...') }}</p>
                        </div>
                        <!-- id = data-popup-id -->
                        <div id="datapopup_{{ key }}" class="content-popup">
                            <div class="wrp-content">
                            <button class="popup-close">&times;</button>
                            <div class="content">
                                <h4 class="primaryTitle">{{ realisation.name }}</h4>
                                <div class="description">
                                    {{ realisation.description }}
                                </div>
                                <div class="repeaterImg">
{#                                    <img src="dist/img/service1.jpg" alt="">#}
{#                                    <img src="dist/img/profile1.jpg" alt="">#}
{#                                    <img src="dist/img/service1.jpg" alt="">#}
{#                                    <img src="dist/img/profile2.jpg" alt="">#}
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="profilSection section-services">
            <h3 class="secondaryTitle">Services</h3>
            <div class="content">
                {% for microservice in user.microservices %}
                    {{ include('microservice/composants/_bloc.html.twig', {'page_profile': true}) }}
                {% endfor %}
            </div>
        </div>

        {% if avises|length %}
            <div class="profilSection testimonials">
                <h3 class="secondaryTitle">Témoignages</h3>
                <div class="content">
                    <div class="owl-carousel owl-theme testimonials_content">
                        {% for avis in avises %}
                            <div class="card">
                                <div class="infoImg">
                                    {% if avis.client.avatar %}
                                        <img src="{{ vich_uploader_asset(avis.client, 'imageFile') | imagine_filter('midle_avatar') }}">
                                    {% else %}
                                        <img class="rounded-circle mr-3" src="{{ asset('img/user.jpg') | imagine_filter('midle_avatar') }}" alt='' width="50" />
                                    {% endif %}
                                    {#                                <img src="dist/img/profile1.jpg" alt="">#}
                                    <div class="info">
                                        <h5 class="name">
                                            {{ avis.client.fullName }}
                                        </h5>
                                    </div>
                                </div>
                                <div class="rating cs-margin-y">
                                    {% if avis.type == 'Positif' %}
                                        {% for i in 1..5 %}
                                            <span class="star filled">&#9733;</span>
                                        {% endfor %}
                                    {% else %}
                                        <span class="star filled">&#9733;</span>
                                        <span class="star filled">&#9733;</span>
                                        {% for i in 1..3 %}
                                            <span class="star">&#9733;</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <p class="quote secondaryParagraphe">
                                    <i class="fa-solid fa-quote-left"></i>
                                    {{ avis.contenu }}
                                </p>
                                <p class="text-muted">
                                    {{ avis.created|ago(locale='fr') }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>
	{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/suivi.js') }}"></script>
    <script src="{{ asset('js/favoris.js') }}"></script>
{% endblock %}