{% extends 'base.html.twig' %}

{% block title %}Créer un compte
{{ appName }}
{% endblock %}

{% block titre %}Créer un compte{% endblock %}

{% block text %}Nouveau sur
{{ appName }}? <br> Crée gratuitement votre compte
{% endblock %}

{% block alternatiflink %}
	https://talengo.io/inscription{% endblock %}

{% block imgBg %}{{ asset('img/register.png') }}{% endblock %}

{% block space %}{% endblock %}

{% block body %}

{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">
	<!-- flashError -->
	Le lien pour vérifier votre e-mail semble être pour un autre compte ou e-mail. Veuillez demander un nouveau lien.
</div>
{% endfor %}


	<div class="account-page">
		<div class="container">
			<div class="content-sign-upForm">
				<h1 class="primaryTitle">Créer votre compte avec : </h1>
				<div class="wrp-btn">
					<a href="{{ path('auth_oauth_connect', {service: 'google'}) }}" class="btn-signUp btnGoogle">Continuer avec google</a>
					<a href="{{ path('auth_oauth_connect', {service: 'linkedin'}) }}" class="btn-signUp btnLinkedin">Continuer avec linkedin</a>
				</div>
				<span class="hr-or">Ou</span>
				{{ form_start(registrationForm) }}
					<div class="row-form">
						{{ form_row(registrationForm.email) }}
					</div>
					<div class="row-form">
						{{ form_row(registrationForm.nom) }}
					</div>
					<div class="row-form">
						{{ form_row(registrationForm.prenom) }}
					</div>
					<div class="row-form">
						{{ form_row(registrationForm.plainPassword) }}
					</div>

					<div class="row-form custom-checkbox">
						{{ form_row(registrationForm.agreeTerms) }}

{#						<label for="registration_form_agreeTerms" class="registration_form_agreeTerms"#}
{#						>#}
{#							J’accepte les#}
{#							<a href="{{ path('page_conditions') }}" class="text-light">CGU</a>#}
{#							et#}
{#							<a href="{{ path('page_conditions') }}" class="text-light">conditions d'utilisations</a>#}
{#						</label>#}
					</div>

					<button type="submit" class="btn btn-primaryBlue">Créer mon compte</button>
				{{ form_end(registrationForm) }}
				<p class="connexion-link">Déjà inscrit sur Talengo.io ? <a href="{{ path('app_login') }}">Se connecter</a></p>
			</div>
		</div>
	</div>

{% endblock %}