<footer>
	<div class="container">
		<div class="content">
			<div class="infoWebsite">
				<img src="{{ asset('themes/layout/img/logo.svg') }}" alt="Logo Talengo.io" class="logo">
				<h4 class="description">Freelance ? Trouve ta prochaine mission sur Talengo.io.</h4>
				<div class="">
					<a href="" class="btn btn-borderWhite">devenez vendeur</a>
				</div>
				<h4 class="titleFolow">SUIVEZ NOUS SUR</h4>
				<div class="socialMedia">
					<a href=""><i class="fa-brands fa-square-facebook"></i></a>
					<a href=""><i class="fa-brands fa-instagram"></i></a>
					<a href=""><i class="fa-brands fa-square-youtube"></i></a>
					<a href=""><i class="fa-brands fa-linkedin"></i></a>
				</div>
			</div>
			<div class="linksWebsite">
				<div class="links">
					<h3 class="title">Catégories</h3>
					<ul>
						<li><a href="">Design & Graphisme</a></li>
						<li><a href="">Site & Développement</a></li>
						<li><a href="">Seo & Communication</a></li>
						<li><a href="">Vidéo & Animation</a></li>
						<li><a href="">Réseaux Sociaux</a></li>
						<li><a href="">Rédaction</a></li>
					</ul>
				</div>
				<div class="links">
					<h3 class="title">Talengo</h3>
					<ul>
						<li><a href="">à propos de nous</a></li>
						<li><a href="">Comment ça marche</a></li>
						<li><a href="">FAQ</a></li>
						<li><a href="">nous contacter</a></li>
					</ul>
				</div>
				<div class="links">
					<h3 class="title">terms</h3>
					<ul>
						<li><a href="">Politique de Confidentialité</a></li>
						<li><a href="">Termes et Conditions</a></li>
						<li><a href="">Mentions légales</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="copyrights">
		<div class="container">
			<p>© freelance.com 2025 - Tous droits réservés</p>
		</div>
	</div>
</footer>


{#<footer class="cs-footer-website">#}
{#	<div class="container">#}
{#		<div class="d-flex justify-content-top">#}
{#			<div class="footer-list">#}
{#				<a href="{{ path('accueil') }}">#}
{#					<h2 class=" text-uppercase">#}
{#						{{ appName }}#}
{#					</h2>#}
{#				</a>#}
{#				<!--<a href="{{ path('accueil') }}">#}
{#					<img src="{{ asset('img/header-logo.png') }}" width="40px" height="40px" alt="logo {{ appName }}" class="border rounded-circle">#}
{#				</a>-->#}
{#				<ul class="list d-none d-sm-block">#}
{#					<li>#}
{#						<p class="pr-2">La plateforme Talengo.io donne la facilité à toute personne de se lancer en indépendant accompagnée par des professionnels.</p>#}
{#					</li>#}
{#				</ul>#}
{#				<div class="copyright">#}
{#					<ul class="social">#}
{#						<li>#}
{#							<a href="#">#}
{#								<i class="fa fa-facebook text-blue" aria-hidden="true"></i>#}
{#							</a>#}
{#						</li>#}
{#						<li>#}
{#							<a href="#">#}
{#								<i class="fa fa-twitter text-blue" aria-hidden="true"></i>#}
{#							</a>#}
{#						</li>#}
{#						<li>#}
{#							<a href="#">#}
{#								<i class="fa fa-linkedin text-blue" aria-hidden="true"></i>#}
{#							</a>#}
{#						</li>#}
{#						<li>#}
{#							<a href="#">#}
{#								<i class="fa fa-pinterest-p text-blue" aria-hidden="true"></i>#}
{#							</a>#}
{#						</li>#}
{#						<li>#}
{#							<a href="#">#}
{#								<i class="fa fa-instagram text-blue" aria-hidden="true"></i>#}
{#							</a>#}
{#						</li>#}
{#					</ul>#}
{#				</div>#}
{#			</div>#}
{#			<div class="footer-list">#}
{#				<h2>Besoin d'aide?</h2>#}
{#				<ul class="list">#}
{#					<li>#}
{#						<a href="{{ path('page_cmarche') }}">Comment ça marche?</a>#}
{#					</li>#}
{#					<li>#}
{#						<a href="{{ path('page_conditions') }}">FAQS</a>#}
{#					</li>#}
{#					<li>#}
{#						<a href="mailto:{{ appEmail }}">Contactez-nous</a>#}
{#					</li>#}
{#				</ul>#}
{#			</div>#}
{#			<div class="footer-list">#}
{#				<h2>{{ appName }}</h2>#}
{#				<ul class="list">#}
{#					{% if app.user %}{% else %}#}
{#						<li>#}
{#							<a href="{{ path('app_register') }}">Vendre/connexion</a>#}
{#						</li>#}
{#					{% endif %}#}
{#					<li>#}
{#						<a href="{{ path('page_conditions') }}">Politique de confidentialité</a>#}
{#					</li>#}
{#					<li>#}
{#						<a href="{{ path('page_conditions') }}">CGU et CGV#}
{#						</a>#}
{#					</li>#}
{#					<li>#}
{#						<a href="{{ path('page_conditions') }}">Mentions légales#}
{#						</a>#}
{#					</li>#}
{#				</ul>#}
{#			</div>#}
{#			<div class="footer-list">#}
{#				<h2>Nous contacter</h2>#}
{#				<ul class="list">#}
{#					<li>#}
{#						<a href="mailto:{{ appEmail }}">{{ appEmail }}</a>#}
{#					</li>#}
{#				</ul>#}
{#			</div>#}
{#			<div class="d-block d-sm-none pl-3 mb-3">#}
{#				<p class="pr-2 text-blue">La plateforme Talengo.io donne la facilité à toute personne de se lancer en indépendant accompagnée par des professionnels.</p>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#	<div class="text-center py-2 text-muted">#}
{#		<p class="p-0 m-0">© Copyright {{ 'now'|date('Y') }} {{ appName }}.#}
{#		</p>#}
{#	</div>#}
{#</footer>#}