<header>
	<div class="container">
		<div class="content">
			<div class="left-content">
				<!-- commun entre les deux versions du header -->
				{% if app.user %}
					<a href="{{ path('list') }}" class="logo">
						<img src="{{ asset('themes/layout/img/logo.svg') }}" alt="Logo Talengo.io">
					</a>
				 {% else %}
					 <a href="{{ path('accueil') }}" class="logo">
						 <img src="{{ asset('themes/layout/img/logo.svg') }}" alt="Logo Talengo.io">
					 </a>
				{% endif %}

				<!-- end commun entre les deux versions du header -->

				{% if shouldDisplayContent() %}
					<div class="search-header">
						<form action="{{ path('search_list') }}" class="search" method="post">
							<input type="text" name="search" id="search" placeholder="Rechercher par mots-clés ou compétences" value="{{ app.request.get('search') }}">
							<button type="submit" class="btn btn-primaryBlue"><i class="fa-solid fa-magnifying-glass"></i></button>
						</form>
					</div>
				{% endif %}
			</div>


			<div class="content-right">
				{% if app.user %}
					<!--  si user est connecté  -->
{#					<a href="" class="btn btn-primaryBlue btn-seller ">Devenez vendeur</a>#}
					<nav>
						<ul class="menu">
							<li class="notifications" title="Le suivi de mes commandes">
								<a href="{{ path('commandes_chats') }}" title="Le suivi de mes commandes">
									<span class="invisibleMenuBurger">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
											 class="icon icon-tabler icons-tabler-outline icon-tabler-bell">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
											<path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/>
											<path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
										</svg>
									</span>
									<span class="visibleMenuBurger">Suivi commande</span>
								</a>
								{% if getCommandeNonLu(app.user)|length > 0 %}
									<span class="badge badge-danger font-weight-light badge-message">
										{{ getCommandeNonLu(app.user)|length }}
									</span>
								{% endif %}
{#								<a href="{{ path('commandes_chats') }}" class="visibleMenuBurger">Notifications</a>#}
{#								<div class="dropdownMenu hiddenMenuBurger">#}
{#									<ul>#}
{#										<li class="active"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>#}
{#										<li class="active"><a href="">omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</a></li>#}
{#										<li><a href="">dolorem ipsum quia dolor sit amet, consectetur</a></li>#}
{#										<li><a href="">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid </a></li>#}
{#										<li class="notifLink"><a href="">voir toutes les notifications</a></li>#}
{#									</ul>#}
{#								</div>#}
							</li>
							<li title="Mes discussions">
								<a href="{{ path('conversations') }}">
									<span class="invisibleMenuBurger">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
											 stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
											 class="icon icon-tabler icons-tabler-outline icon-tabler-mail">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
											<path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"/>
											<path d="M3 7l9 6l9 -6"/>
										</svg>
									</span>
									<span class="visibleMenuBurger">Messages</span>
									{% if getMessageNonLu(app.user)|length > 0 %}
										<span class="badge badge-danger font-weight-light badge-message">
											{{ getMessageNonLu(app.user)|length }}
										</span>
									{% endif %}
								</a>
							</li>
							<li>
								{% if app.user.hasRole('ROLE_VENDEUR') %}
									<a href="{{ path('user_dashboard') }}" title="Mes ventes">
										<span class="invisibleMenuBurger">
											<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-building-store"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l18 0" /><path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" /><path d="M5 21l0 -10.15" /><path d="M19 21l0 -10.15" /><path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" /></svg>
										</span>

										<span class="visibleMenuBurger">Ventes</span>
									</a>
								{% endif %}
								{% if app.user.hasRole('ROLE_CLIENT') %}
									<a href="{{ path('vendeur_achats_index') }}" title="Mes achats">
										<span class="invisibleMenuBurger">
											<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z" /><path d="M9 11v-5a3 3 0 0 1 6 0v5" /></svg>
										</span>
										<span class="visibleMenuBurger">Achats</span>
									</a>
								{% endif %}
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li class="visibleMenuBurger">
									<a href="{{ path('admin_dashboard') }}">Administration</a>
								</li>
							{% endif %}
							<li class="visibleMenuBurger">
								<a href="{{ path('user_dashboard') }}">Tableau de bord</a>
							</li>
							<li class="visibleMenuBurger">
								<a href="{{ path('user_profil') }}">Profil</a>
							</li>
							<li class="visibleMenuBurger">
								<a href="{{ path('favoris_index') }}">Favoris</a>
							</li>

							<li class="profil hiddenMenuBurger">
								{% if app.user.reseauAvatar %}
									<img src="{{ app.user.reseauAvatar }}" class="img-fluid" alt="{{ app.user.usePseudo == 1 ? app.user.pseudo : app.user.nom ~ ' ' ~ app.user.prenom }}">
								{% else %}
									{% if app.user.avatar %}
										<img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('small_avatar') }}"
											 class="img-fluid" alt="{{ app.user.usePseudo == 1 ? app.user.pseudo : app.user.nom ~ ' ' ~ app.user.prenom }}">
									{% else %}
										<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('small_avatar') }}" alt='' />
									{% endif %}
								{% endif %}

								<div class="dropdownMenu">
									<ul>

										<li>
											<div class="text-small">
												<span class="dropdown-user-details-name text-dark">
													{{ app.user.usePseudo == 1 ? app.user.pseudo : app.user.nickName }}
												</span>
												<div class="dropdown-user-details-email">{{ app.user.email }}</div>
											</div>
										</li>
										{% if is_granted('ROLE_ADMIN') %}
											<li><a href="{{ path('admin_dashboard') }}">
													Administration
												</a></li>
										{% endif %}
										<li class="nav_item_link"><a href="{{ path('user_dashboard') }}">Tableau de bord</a></li>
										<li class="nav_item_link"><a href="{{ path('user_profil') }}">Mon profil</a></li>
										<li class="nav_item_link"><a href="{{ path('favoris_index') }}">Favoris </a></li>
										<li class="nav_item_link"><a class="text-danger" href="{{ path('app_logout') }}">Déconnexion</a></li>
									</ul>
								</div>
							</li>
							<li class="visibleMenuBurger"><a href="{{ path('app_logout') }}" class="text-danger">Déconnexion</a></li>
						</ul>
					</nav>
					<!--  end  user est connecté  -->
				{% else %}
				<!--****  si user n'est pas connecté  -->

				{% if
					shouldDisplayContent()
					or app.request.attributes.get('_route') == 'accueil' and not app.user
				%}
					<nav>
						<ul class="menu">
							<li><a href="{{ path('app_register') }}">Inscription</a></li>
							<li><a href="{{ path('app_login') }}">Connexion</a></li>
						</ul>
					</nav>
				{% endif %}

{#                <a href="" class="btn btn-primaryBlue btn-seller ">Devenez vendeur</a>#}
				<!--  end user n'est pas connecté  -->
				{% endif %}
			</div>
		</div>

		{% if shouldDisplayContent() %}
			<!--  si user est connecté  -->
			<span class="visibleMobile iconSearchMobile"><i class="fa-solid fa-magnifying-glass"></i></span>
			<!--  end user est connecté  -->
		{% endif %}


		<!-- commun entre les deux versions du header -->
		<div class="menuBurger">
			<i class="fa-solid fa-bars"></i>
			<i class="fa-solid fa-close"></i>
		</div>
		<!-- end commun entre les deux versions du header -->
	</div>

	{%
		if app.request.get('_route') == 'list'
		or app.request.get('_route') == 'show_service'
		or app.request.get('_route') == 'search_list'
		or app.request.get('_route') == 'microservice_details'
		or app.request.get('_route') == 'vendeur_profil'
	%}
		<!--  si user est connecté  -->
		<div class="categories">
			<div class="container">
				<ul class="menuCategories">
					<li class="{{ app.request.attributes.get('_route') == 'list' ? 'active' }}">
						<a href="{{ path('list') }}">
							<i class="fa-solid fa-star"></i>
							<span>Top services</span>
						</a>
					</li>
					{{ render(controller('App\\Controller\\AccueilController::listCategories', {slug: app.request.attributes.get('slug')})) }}
				</ul>
			</div>
		</div>
		<!--  End user est connecté  -->
	{% endif %}
</header>