<div class="content">
   <div class="left-content">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"
            stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"
            class="menuBurger icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
   </div>


   <div class="content-right">
      {% if app.user %}
         <nav>
            <ul class="menu">
               <li class="notifications" title="Le suivi de mes commandes">
                  <a href="{{ path('commandes_chats') }}" title="Le suivi de mes commandes">
									<span class="invisibleMenuBurger">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="icon icon-tabler icons-tabler-outline icon-tabler-bell">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
											<path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/>
											<path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
										</svg>
									</span>
                      {% if getCommandeNonLu(app.user)|length > 0 %}
                          <span class="badge badge-danger cs-badge-respo">
                            {{ getCommandeNonLu(app.user)|length }}
                          </span>
                      {% endif %}

                     <span class="visibleMenuBurger">Suivi commande</span>
                  </a>
               </li>
               <li title="Mes discussions">
                  <a href="{{ path('conversations') }}">
									<span class="invisibleMenuBurger">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="icon icon-tabler icons-tabler-outline icon-tabler-mail">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
											<path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"/>
											<path d="M3 7l9 6l9 -6"/>
										</svg>
									</span>
                      {% if getMessageNonLu(app.user)|length > 0 %}
                          <span class="badge badge-danger cs-badge-respo">
                            {{ getMessageNonLu(app.user)|length }}
                          </span>
                      {% endif %}
                     <span class="visibleMenuBurger">Messages</span>
                  </a>
               </li>
               <li>
                  {% if app.user.hasRole('ROLE_VENDEUR') %}
                     <a href="{{ path('user_dashboard') }}" title="Mes ventes">
										<span class="invisibleMenuBurger">
											<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-building-store"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l18 0" /><path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" /><path d="M5 21l0 -10.15" /><path d="M19 21l0 -10.15" /><path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" /></svg>
										</span>

                        <span class="visibleMenuBurger">Ventes</span>
                     </a>
                  {% endif %}
                  {% if app.user.hasRole('ROLE_CLIENT') %}
                     <a href="{{ path('vendeur_achats_index') }}" title="Mes achats">
										<span class="invisibleMenuBurger">
											<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z" /><path d="M9 11v-5a3 3 0 0 1 6 0v5" /></svg>
										</span>
                        <span class="visibleMenuBurger">Achats</span>
                     </a>
                  {% endif %}
               </li>

               <li class="visibleMenuBurger">
                  <a href="{{ path('user_profil') }}">Profil</a>
               </li>
               <li class="visibleMenuBurger">
                  <a href="{{ path('favoris_index') }}">Favoris</a>
               </li>

               <li class="visibleMenuBurger"><a href="{{ path('app_logout') }}" class="text-danger">Déconnexion</a></li>
            </ul>
         </nav>
         <!--  end  user est connecté  -->
      {% else %}
         <!--****  si user n'est pas connecté  -->

         {% if
            shouldDisplayContent()
            or app.request.attributes.get('_route') == 'accueil' and not app.user
         %}
            <nav>
               <ul class="menu">
                  <li><a href="{{ path('app_register') }}">Inscription</a></li>
                  <li><a href="{{ path('app_login') }}">Connexion</a></li>
               </ul>
            </nav>
         {% endif %}

         {#                <a href="" class="btn btn-primaryBlue btn-seller ">Devenez vendeur</a>#}
         <!--  end user n'est pas connecté  -->
      {% endif %}
   </div>
</div>




{#{% if app.user %}#}

{#    {% if is_granted('ROLE_VENDEUR') %}#}

{#        {% if app.user.endRegister == true %}#}

{#            <li class="nav-item dropdown no-arrow">#}
{#                <a class="nav-link dropdown-toggle" id="navbarDropdownCategories" href="javascript:void(0);"#}
{#                   role="button"#}
{#                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"#}
{#                   style="font-weight:400!important;padding-left:15px;font-size: 1rem;">#}
{#                    <div class="text-blue"><i class="text-muted fa fa-credit-card"></i>&nbsp;Mon portefeuille</div>#}
{#                </a>#}
{#                <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"#}
{#                     aria-labelledby="navbarDropdownCategories">#}
{#                    <a class="dropdown-item py-2 {{ app.request.attributes.get('_route') == 'vendeur_portefeuille' ? 'active' : '' }}"#}
{#                       href="{{ path('vendeur_portefeuille') }}"><i class="text-muted fa fa-credit-card"></i>&nbsp;&nbsp;&nbsp;Mes#}
{#                        revenus</a>#}

{#                    <a class="dropdown-item py-2 {{ app.request.attributes.get('_route') == 'app_vendeur_retraits_index' ? 'active' : '' }}"#}
{#                       href="{{ path('app_vendeur_retraits_index') }}"><i#}
{#                                class="text-muted fa fa-user-circle"></i>&nbsp;&nbsp;&nbsp;Retraits</a>#}
{#                    <!--<a class="dropdown-item py-2 {{ app.request.attributes.get('_route') == 'stripe_abonnement_services' ? 'active' : '' }}"#}
{#                                    href="{{ path('stripe_abonnement_services') }}"><i#}
{#                                        class="text-muted fa fa-globe"></i>&nbsp;&nbsp;&nbsp;Mon abonnement</a>-->#}
{#                </div>#}
{#            </li>#}

{#        {% endif %}#}

{#    {% endif %}#}

{#    <li class="nav-item dropdown no-arrow">#}
{#        <a class="nav-link dropdown-toggle" id="navbarDropdownCategories" href="javascript:void(0);" role="button"#}
{#           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"#}
{#           style="font-weight:400!important;padding-left:15px;font-size: 1rem;">#}
{#            <div class="text-blue"><i#}
{#                        class="text-muted fa fa-cogs"></i>&nbsp;Paramètres {{ is_granted('ROLE_VENDEUR') ? 'de vente'#}
{#                : '' }}</div>#}
{#        </a>#}
{#        <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"#}
{#             aria-labelledby="navbarDropdownCategories">#}
{#            <a class="dropdown-item py-2 tache-terminer {{ app.request.attributes.get('_route') == 'user_profil' ? 'active' : '' }}"#}
{#               href="{{ path('user_profil') }}"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;&nbsp;Mon#}
{#                profil {{ is_granted('ROLE_VENDEUR') ? 'public' : '' }}#}
{#                <i class="fa fa-check-circle float-right"></i>#}
{#            </a>#}

{#            {% if is_granted('ROLE_VENDEUR') %}#}

{#                <a class="dropdown-item py-2 {{ app.user.statut ? 'tache-terminer' : 'tache-encours' }} {{ app.request.attributes.get('_route') == 'user_coordonnees' ? 'active' : '' }}"#}
{#                   href="{{ path('user_coordonnees') }}"><i class="fa fa-edit"></i>&nbsp;&nbsp;&nbsp;Mes#}
{#                    coordonnées#}
{#                    <i class="fa fa-check-circle float-right"></i>#}
{#                </a>#}

{#                <a class="dropdown-item py-2 {{ app.user.lieuPrestation ? 'tache-terminer' : 'tache-encours' }} {{ app.user.statut ? '' : 'disabled' }} {{ app.request.attributes.get('_route') == 'user_categorie' ? 'active' : '' }}"#}
{#                   href="{{ path('user_categorie') }}"><i class="text-muted fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;Informations#}
{#                    supplémentaire#}
{#                    <i class="fa fa-check-circle float-right"></i>#}
{#                </a>#}

{#                <a class="dropdown-item py-2 {{ app.request.attributes.get('_route') == 'edit_password' ? 'active' : '' }}"#}
{#                   href="{{ path('edit_password') }}"><i class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;Mes accès</a>#}

{#            {% endif %}#}
{#        </div>#}
{#    </li>#}

{#{% endif %}#}