<div style="text-align: center;">
   <img src="{{ appSite }}{{ asset('themes/layout/img/logo.svg') }}" alt="Logo {{ appName }}" style="background-color: #4C8BE8;border-radius: 10px;">
{#   <img src="{{ appSite }}{{ asset('img/logo/logo.jpeg') }}" alt="Logo {{ appName }}">#}
</div>
<br>