<style>
   @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');

   body {
      font-family: 'Outfit', Arial, sans-serif;
      font-weight: 300; /* Thin (100) */
   }

   p {
      margin: 12px 0;
      line-height: 1.5;
      color: #000000;
   }

   strong {
      font-weight: 400; /* Un peu plus gras pour les éléments en bold */
   }
</style>


<div style="background-color: #f3f3f3;padding: 30px;font-size: 13px;">
   <div style="margin: auto;background: #fff;padding: 20px;">

      {% include "mails/_logo.html.twig" %}
      
      <p>Bonjour <strong>{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.usePseudo == 1 ? vendeur.pseudo :
            vendeur.nom ~
            ' ' ~ vendeur.prenom }}</strong>,</p>

      <p>
         Félicitation ! Vous avez une nouvelle commande d’un montant de <strong>{{ commande.montant ~ currency }}</strong> du client <strong>{{ client.usePseudo == 1 ? client.pseudo : client.usePseudo == 1 ? client.pseudo :
         client.nickName }}</strong> pour le service <strong>{{ commande.microservice.name }}</strong>
      </p>
      
      <p>
         🔔 <strong>Important :</strong> Merci de valider cette commande sous <strong> 48 heures maximum</strong> afin de confirmer sa prise
         en charge. Passé ce délai, la commande pourrait être annulée automatiquement.
         Lorsque la commande sera terminée, vous percevrez <strong>{{ commande.montant ~ currency }}</strong>. Ce montant varie en fonction de votre offre. Vous avez désormais 48 h à partir de la date de la commande pour recevoir les consignes de votre client via la messagerie, puis la valider. Le délai de livraison démarrera alors.
      </p>

      <p>
         Pensez également à bien demander les consignes au client dans le chat de la commande. Une bonne
         compréhension dès le départ est la clé d’une prestation réussie et d’un client satisfait !
      </p>

      <div><br>
         <a href="{{ absolute_url(path('commande_details', {id: commande.id})) }}" style="background: #4c8be8;
     background: -webkit-linear-gradient(legacy-direction(to right), #4c8be8 0%, #a9a9a9 100%);
     background: -webkit-gradient(linear, left top, right top, from(#4c8be8), to(#a9a9a9));
     background: -webkit-linear-gradient(left, #4c8be8 0%, #a9a9a9 100%);
     background: -o-linear-gradient(left, #4c8be8 0%, #a9a9a9 100%);
     background: linear-gradient(to right, #4c8be8 0%, #a9a9a9 100%);text-decoration: none;
     border-color: #4c8be8;color:#fff;padding: 15px;border-radius: 5px;margin: 10px 0;">Gérer la commande</a>
      </div><br>

      <p>
         Bon travail et à bientôt
      </p>

      {% include "mails/_lien_cgu.html.twig" %}
   
   </div>
</div>