{% extends 'base.html.twig' %}

{% block title %}Commande enregister
{% endblock %}

{% block titre %}Félicitation {{ app.user.nom }} {{ app.user.prenom }}{% endblock %}

{% block col %}6{% endblock %}

{% block body %}

	<div class="header-payment" style="margin-top: 70px;">
		<a href="{{ path('accueil') }}">
			<img src="{{ asset('themes/layout/img/logo-blue.svg') }}" alt="">
		</a>
	</div>
	<div class="page-payment">
		<div class="container-small">
			<div class="content-confirmation">
				<img src="{{ asset('/themes/layout/img/confirmation.svg') }}" alt="">
				<h1 class="primaryTitle">Félicitation !</h1>
				<p class="regularText">Votre commande a été passée avec succès ! Vous pouvez dès à présent accéder à celle-ci et communiquer sereinement et en toute sécurité avec votre vendeur.</p>
				<div class="flexCenter">
					<a href="{{ path('commande_details', {id: commande.id}) }}" class="btn btn-primaryBlue">suivre ma commande &longrightarrow;</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}