<div class="card rounded bg-white border mb-3 osahan-chat">
	<div class="card-header bg-dark ">
		<h5 class="h6 text-light">Suivis commande</h5>
	</div>
	<div class="card-body p-0">
		<div class="row m-0">
			<div
				class="col-sm-12 border-right px-0 bg-white">
				<div class="osahan-chat-left">
					<div class="osahan-chat-list">

						{% for usercommande in usercommandes %}

							{% if usercommande.vendeur != null %}

								{# partie vendeur #}
								{% if usercommande.vendeur.id == app.user.id %}

									{% if usercommande.client != null %}

									{% set is_lu = usercommande.destinataire and usercommande.destinataire.id == app.user.id and not usercommande.lu  %}
									<div
										class="p-1 align-items-center border-bottom osahan-post-header overflow-hidden {{ usercommande == commande ? 'bg-blue' : '' }}"
										style="background-color:{{ is_lu ? 'aliceblue' : 'gainsboro' }}"
										id="{{ usercommande.id }}"
									>
										<a href="{{ path('commande_details', {id: usercommande.id}) }}" class="media">

											{% if usercommande.client.reseauAvatar %}

												<img src="{{ usercommande.client.reseauAvatar }}"
													 alt="{{ usercommande.client.usePseudo == 1 ? usercommande.client.pseudo : usercommande.client.nom ~ ' ' ~ usercommande.client.prenom }}">

											{% else %}

												{% if usercommande.client.avatar %}
													<img src="{{ vich_uploader_asset(usercommande.client) | imagine_filter('small_avatar') }}"
														 alt="{{ usercommande.client.prenom ?? '' }}" class="rounded-circle border">
												{% else %}
													<img src="{{ asset('img/user.jpg') }}" width="40" height="40" class="rounded-circle border">
												{% endif %}

											{% endif %}

											<span class="media-body pl-2">
												<span class="text-truncate d-inline">
													{{ usercommande.client.nom ~ ' ' ~ usercommande.client.prenom }}
												</span>
												<small class="small">
													{{ usercommande.created|ago(locale='fr') }}
												</small>
												<br>
												<div class="d-flex justify-content-between align-items-center last-message">
{#												<span class="small text-truncate overflow-hidden text-black-50">#}
													<span class="p-0 m-0 font-italic">
														{{ usercommande.offre }}
													</span>
													<small class="ml-2 small conversation-time">
														{% if is_lu %}
															<span title="Nouveau message" class="badge badge-blue" style="font-size: 109%">Non lu</span>
														{% else %}
															<span title="Nouveau message" class="badge badge-secondary" style="font-size: 109%">Déjà lu</span>
														{% endif %}
													</small>

												</div>
											</span>
										</a>

									</div>

									{% endif %}

								{% else %}
									{# Partie acheteur #}
									{% set is_lu = usercommande.destinataire and usercommande.destinataire.id == app.user.id and not usercommande.lu  %}
									<div
										style="background-color:{{ is_lu ? 'aliceblue' : 'gainsboro' }}"
										class="p-3 align-items-center border-bottom osahan-post-header overflow-hidden {{ usercommande == commande ? 'bg-blue' : '' }}">

										<a href="{{ path('commande_details', {id: usercommande.id}) }}" class="media">

											{% if usercommande.vendeur.reseauAvatar %}

											<img src="{{ usercommande.vendeur.reseauAvatar }}"
												alt="{{ usercommande.vendeur.usePseudo == 1 ? usercommande.vendeur.pseudo : usercommande.vendeur.nom ~ ' ' ~ usercommande.vendeur.prenom }}">

											{% else %}

											{% if usercommande.vendeur.avatar %}
											<img src="{{ vich_uploader_asset(usercommande.vendeur) | imagine_filter('small_avatar') }}"
												alt="{{ usercommande.vendeur.prenom ?? '' }}" class="rounded-circle border">
											{% else %}
											<img src="{{ asset('img/user.jpg') }}" width="40" height="40" class="rounded-circle border">
											{% endif %}

											{% endif %}

											<span class="media-body pl-2">
												<span class="text-truncate d-inline">
													{{ usercommande.vendeur.nom ~ ' ' ~ usercommande.vendeur.prenom }}
												</span>
												<small class="text-right small">
													{{ usercommande.created|ago(locale='fr') }}
												</small><br>
												<div class="d-flex justify-content-between align-items-center last-message">
													<span class="p-0 m-0 font-italic">
														{{ usercommande.offre }}
													</span>
													<small class="ml-2 small conversation-time">
														{% if is_lu %}
															<span title="Nouveau message" class="badge badge-blue" style="font-size: 109%">Non lu</span>
														{% else %}
															<span title="Nouveau message" class="badge badge-secondary" style="font-size: 109%">Déjà lu</span>
														{% endif %}
													</small>
												</div>
											</span>
										</a>
									</div>

								{% endif %}

							{% endif %}

						{% else %}
							<div class="p-3 d-flex align-items-center border-bottom overflow-hidden">
								<p>Aucune commande</p>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>