<div class="">
    <div class="d-flex align-items-top mb-2">
        <p class="mb-0 text-muted"><i class="fa fa-calendar"></i> Date de réservation</p>
        <p class="text-muted mb-0 mt-0 ml-auto">
            {{ commande.reservationDate|date("d/m/Y") }}
        </p>
    </div>
    <div class="d-flex align-items-top mb-2">
        <p class="mb-0 text-dark">
            <span>TOTAL 
        </p>
        <strong class="text-dark mb-0 mt-0 ml-auto">{{ commande.montant }} {{ currency }}</strong>
    </div>
    <div class="d-flex align-items-top mb-2">
        <p class="mb-0 text-muted">Statut</p>
        <p class="ml-auto">
            {% if commande.statut == "Annuler" %}
                <span class="badge badge-pill badge-dark" title="remboursement encours...">
                    {{ commande.statut  }}
                 </span>
            {% else %}
                <span class="badge badge-pill badge-{{ commande.payed == true ? 'success' : 'warning' }}">
                    {{ commande.statut == true ? 'Payée' : 'Non payée' }}
                 </span>
            {% endif %}

        </p>
    </div>
{#   <div class="d-flex align-items-top mb-2">#}
{#      <p class="mb-0 text-muted">Commande</p>#}
{#      <p class="ml-auto">#}
{#         <span class="badge badge-pill badge-{{ commande.validate ? 'success' : 'warning' }}"#}
{#               {% if commande.validate %}#}
{#                 title="Commande accepté par le vendeur"#}
{#                 {% else %}#}
{#                 title="Commande en attente d'acceptation par le vendeur"#}
{#                 {% endif %}#}

{#         >#}
{#            {{ commande.validate ? 'Confirmer' : 'En attente' }}#}
{#         </span>#}
{#      </p>#}
{#   </div>#}
</div>