<div class="card">
   <div class="card-body">
      {{ form_start(form) }}

      <div class="mb-4">
         <h6 class="font-weight-bold">
            Prix
         </h6>
         <p class="text-muted">
            Veuillez indiquer le tarif du « <i>service basique</i> » de la prestation que vous proposez.
         </p>
         <div class="form-group">
            <div class="input-group mb-3 border border-light rounded">
               <div class="input-group-prepend">
                  <span class="input-group-text border-0 bg-white">{{ currency }}</span>
               </div>
               {{ form_widget(form.prix) }}
            </div>
            {{ form_errors(form.prix) }}
         </div>
      </div>

      <div class="mb-4">
         <h6 class="font-weight-bold">
            Nombre de jour
         </h6>
         <p class="text-muted">
            Indiquez le nombre de jours nécessaires pour réaliser le service basique.
         </p>
         <div class="form-group">
            <div class="input-group mb-3 border border-light rounded">
               <div class="input-group-prepend">
                  <span class="input-group-text border-0 bg-white">📆</span>
               </div>
               {{ form_widget(form.nombreJour) }}
            </div>
            {{ form_errors(form.nombreJour) }}
         </div>
      </div>

      <div class="mb-4">
         <div class="form-group">
            <h6 class="font-weight-bold">Elément</h6>
            <p class="text-muted">
               Ici, vous pouvez ajouter les éléments que vous proposez dans votre pack basique. Exemple : 500 mots, 2 pages.
            </p>

            <div id="serviceOptions" class="row" data-prototype="{{ include("vendeur/microservices/form/_tag.html.twig", {form:
               form.tags.vars.prototype})|e("html_attr") }}"
                 data-index="{{ form.tags|length > 0 ? form.tags|last.vars.name + 1 : 0 }}">
               {% for option in form.tags %}
                  <div class="col-sm-6">
                     {{ include("vendeur/microservices/form/_tag.html.twig", {form: option}) }}
                  </div>
               {% endfor %}
            </div>
            <br>
            <button type="button" class="btn btn-light btn-new" data-collection="#serviceOptions">
               <i class="fa fa-plus"></i> Ajouter un élément
            </button>

         </div>
      </div>

      <div class=" mb-4">
         <div class="">
            <div class="">
               <h6 class="font-weight-bold">
                  Description
               </h6>
               <p class="text-muted">
                  Pour rédiger une description efficace de votre service freelance, décrivez clairement ce que vous
                  proposez, en insistant sur les bénéfices concrets que le client peut attendre. Il est important de détailler
                  précisément ce qui est inclus dans votre prestation, ainsi que les options ou services supplémentaires que
                  vous offrez. Pensez également à préciser vos délais afin que le client sache à quoi s’attendre. N’hésitez
                  pas à mettre en avant ce qui vous différencie des autres prestataires, que ce soit votre méthode, votre
                  expérience ou votre accompagnement personnalisé. Utilisez un ton professionnel, accessible et évitez les
                  fautes d’orthographe pour renforcer la confiance.
               </p>
            </div>
            <div>
               {{ form_widget(form.description) }}
               {{ form_errors(form.description) }}
            </div>
         </div>
      </div>

      <div class="">
         <div class="text-left">
            <button class="btn btn-dark">
               {{ button_label|default('Enregistrer et suivant') }}
            </button>
         </div>
      </div>

      {{ form_end(form) }}
   </div>
</div>