{% extends 'base.html.twig' %}

{% block body %}

	{% if app.user %}
		<!--  si user est connecté  -->
		<section class="section-services">
			<div class="container">
				<div class="content">
					{% for microservice in microservices %}
						{{ include('microservice/composants/_bloc.html.twig') }}
					{% endfor %}
				</div>
				<div class="flexCenter">
					<a href="{{ path('list') }}" class="btn btn-primaryBlue">Voir les meilleurs services</a>
				</div>
			</div>
		</section>
		<!--  end user est connecté  -->
	{% endif %}


	<!--*************************************  si user n'est pas connecté  ************************************* -->
	{% if not app.user %}
		<section class="hero">
			<div class="container">
				<div class="content">
					<h1 class="primary-title">Boostez vos projets avec les meilleurs freelances. </h1>
					<h2 class="secondary-title">Parce que chaque projet mérite le meilleur du digital.</h2>
					<form action="{{ path('search_list') }}" class="search" method="post">
						<input type="text" name="search" id="search" placeholder="Rechercher par mots-clés ou compétences" value="{{ app.request.get('search') }}">
						<button type="submit" class="btn btn-primaryBlue"><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
					<div class="tag">
						{% for categorie in categories() %}
							<a href="{{ path('show_service', {slug: categorie.slug}) }}">{{ categorie.name }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>

		<section class="section-services">
			<div class="container">
				<h3 class="primaryTitle">Services populaires</h3>
				<div class="content">
					{% for microservice in microservices %}
						{{ include('microservice/composants/_bloc.html.twig') }}
					{% endfor %}
				</div>
				<div class="flexCenter">
					<a href="{{ path('list') }}" class="btn btn-primaryBlue">Voir les meilleurs services</a>
				</div>
			</div>
		</section>

		<section class="section-joinUs">
			<div class="container">
				<div class="content">
					<img src="{{ asset('themes/layout/img/hero.jpg') }}" alt="">
					<div class="joinusDescription">
						<span class="fav"></span>
						<h3 class="title">Rejoignez Talengo, la communauté qui transforme chaque projet en réussite.</h3>
						<p class="description">Connectez-vous à des experts passionnés et d’acheteurs ambitieux prêts à concrétiser
						leurs projets. <strong>Boostez vos opportunités, atteignez vos objectifs, et transformez chaque mission en succès !</strong></p>

						<div class="flexCenter">
							<a href="{{ path('list') }}" class="btn btn-borderBlue">Je cherche des freelances</a>
							<a href="{{ path('app_register_seller') }}" class="btn btn-primaryBlue">Devenez vendeur</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-howWorks">
			<div class="container">
				<div class="content">
					<div class="howContent">
						<h3 class="primaryTitle">Talengo.io,<br> comment ca marche ?</h3>
						<div class="steps">
							<div class="step">
								<span class="nbr">1</span>
								<h4 class="title">Le client passe sa commande</h4>
								<p class="description">Choisissez le service adapté à vos besoins et décrivez vos attentes.</p>
							</div>
							<div class="step">
								<span class="nbr">2</span>
								<h4 class="title">Le freelance accepte et réalise la mission</h4>
								<p class="description">Le freelance expert commence à travailler sur votre projet.</p>
							</div>
							<div class="step">
								<span class="nbr">3</span>
								<h4 class="title">Le paiement est effectué seulement lorsque vous êtes satisfait !</h4>
								<p class="description">Une fois la mission terminée et validée par vos soins, le freelance reçoit son paiement en toute sécurité.</p>
							</div>
						</div>
					</div>
					<div  class="imgBox">
						<img src="{{ asset('themes/layout/img/profile3.jpg') }}" alt="">
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	<!--*************************************  end user n'est pas connecté ************************************* -->

	<!-- commun entre les deux versions du header -->
	<section class="testimonials">
		<div class="container">
			<div class="content">
				<div class="contentTitle">
					<h4 class="primaryTitle">Témoignages</h4>
					<p class="desc">Des témoignages inspirants de ceux qui ont
						transformé leurs idées avec Talengo.io</p>
				</div>

				<div class="testimonials_content owl-carousel owl-theme">

					<div class="card">
						<div class="infoImg">
							<img src="{{ asset('themes/layout/img/profile1.jpg') }}" alt="">
							<div class="info">
								<h5 class="name">Myriam</h5>
								<h6 class="profile">Fondatrice d’une marque de cosmétique, Paris </h6>
							</div>
						</div>
						<p class="quote secondaryParagraphe">
							<i class="fa-solid fa-quote-left"></i>
							Ce qui me plaît sur Talengo.io, c’est la fluidité des échanges et la qualité des prestations.
						</p>
					</div>
					<div class="card">
						<div class="infoImg">
							<img src="{{ asset('themes/layout/img/profile1.jpg') }}" alt="">
							<div class="info">
								<h5 class="name">Thomas</h5>
								<h6 class="profile">Cofondateur et CEO Start-up </h6>
							</div>
						</div>
						<p class="quote secondaryParagraphe">
							<i class="fa-solid fa-quote-left"></i>
							Talengo.io a vraiment été la clé pour faire avancer notre projet. On a déniché la perle rare et on ne pourrait pas être plus satisfaits du résultat !
						</p>
					</div>
					<div class="card">
						<div class="infoImg">
							<img src="{{ asset('themes/layout/img/profile2.jpg') }}" alt="">
							<div class="info">
								<h5 class="name">Fabien C.</h5>
								<h6 class="profile">CEO, AGA </h6>
							</div>
						</div>
						<p class="quote secondaryParagraphe">
							<i class="fa-solid fa-quote-left"></i>
							Talengo.io a été un véritable levier pour faire avancer notre projet. Nous avons trouvé le freelance idéal, à l’écoute, réactif et ultra-compétent. Résultat : un travail de qualité et une expérience 100 % satisfaisante !
						</p>
					</div>
					<div class="card">
						<div class="infoImg">
							<img src="{{ asset('themes/layout/img/profile2.jpg') }}" alt="">
							<div class="info">
								<h5 class="name">Shayne</h5>
								<h6 class="profile">Fondateur d’un site e-commerce </h6>
							</div>
						</div>
						<p class="quote secondaryParagraphe">
							<i class="fa-solid fa-quote-left"></i>
							Notre projet semblait compliqué au départ, mais avec Talengo.io, tout s’est parfaitement
							aligné. Un vrai gain de temps et d’efficacité !
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end commun entre les deux versions du header -->

	<section class="section-categories">
		<div class="container">
			<h3 class="primaryTitle">Nous avons ce que vous cherchez</h3>
			<div class="content">
				{% for categorie in categories(12) %}
					<a href="{{ path('show_service', { slug : categorie.slug }) }}">
						<i class="{{ categorie.icone }}"></i>
						<span>{{ categorie.name }}</span>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>


{% endblock %}

