{% extends 'base.html.twig' %}

{% block footer %}
  {{ parent() }}

    <script>
        $('header').addClass('stickyMenu');
    </script>
{% endblock %}

{%- block body_class %}
    {{ parent() }}
    noStickyMenu
{% endblock -%}


{% block body %}


    <div class="cs-list-top-services">

        {% if app.request.attributes.get('_route') == "list" %}
            <div class="filter">
                <div class="container">
                    <div class="wrp-select">
                        <span class="label">Trier par :</span>
                        <select class="custom-select" name="" data-url="{{ path('list') }}">
                            <option value="0">Pertinence</option>
                            <option value="1">Meilleures ventes</option>
                            <option value="2">Dernières nouveautés</option>
                        </select>
                    </div>
                </div>
            </div>
        {% endif %}

        <section class="section-services">
            <div class="container">
                {% if app.request.get('_route') == 'search_list' %}
                    <h3 class="primaryTitle">Résultat de recherche du mots : '{{ app.request.request.get('search') }}'</h3>
                {% else %}
                    <h3 class="primaryTitle">Meilleurs services</h3>
                {% endif %}

                <div class="content">
                    {% for microservice in microservices %}
                        {{ include('microservice/composants/_bloc.html.twig') }}
                    {% endfor %}
                </div>

                {{ knp_pagination_render(microservices, '@KnpPaginator/Pagination/custom_pagination.html.twig') }}
            </div>
        </section>
    </div>
{% endblock %}
