{% extends 'service.html.twig' %}

{% block title %}Disponibilités{% endblock %}

{% block colleft %}4{% endblock %}

{% block colright %}8{% endblock %}

{% block body %}
<div class="card rounded">
    <div class="card-body">

        <div class="form-group">
            <h6 class="font-weight-bold">FAQ</h6>
            <p class="text-muted">
                Pour personnaliser encore davantage votre service, pensez à ajouter une FAQ. Cela permet de
                répondre à l’avance aux questions les plus fréquentes de vos clients, de les rassurer, et de faciliter
                la prise de commande. Moins d’allers-retours, plus d’efficacité !
            </p>
        </div>

        <div>
            {{ form_start(form) }}
            {{ form_widget(form._token) }}
            {{ form_errors(form) }}
            <div id="disponibilites" class="row" data-prototype="{{ include("vendeur/microservices/form/_faq.html.twig", {form:
                form.faq.vars.prototype})|e("html_attr") }}"
                data-index="{{ form.faq|length > 0 ? form.faq|last.vars.name + 1 : 0 }}">
                {% for question in form.faq %}
                <div class="col-sm-6">
                    {{ include("vendeur/microservices/form/_faq.html.twig", {form: question}) }}
                </div>
                {% endfor %}
            </div>
            <br>
            <button type="button" class="btn btn-light btn-new" data-collection="#disponibilites">
                <i class="fa fa-plus"></i> Ajouter une FAQ
            </button>

            <div class="form-group text-left mt-5">
                <button type="submit" class="btn btn-dark">{{ button_label|default('Enregistrer et poursuivre') }}</button>
            </div>
            {{ form_end(form, {render_rest: false}) }}
        </div>

    </div>
</div>
{% endblock %}