{% extends 'service.html.twig' %}

{% block title %}
  Titre et catégorie
{% endblock %}

{% block colleft %}4{% endblock %}

{% block colright %}8{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-body">
      {{ form_start(form) }}

      <div class="form-group">
          <h6 class="font-weight-bold">
            Titre
          </h6>
          <p class="text-muted">
            Un bon titre doit être clair, spécifique et orienté client. Mettez en avant ce que vous faites, pour qui, et le
            bénéfice concret. Ex. : “<i>Je vous aide à créer un logo minimaliste pour marques modernes</i>” ou “<i>Je vous
              aide à créer votre boutique sur shopify</i>”.
          </p>
          <div>
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
          </div>
        </div>
        <div class="form-group">
          <h6 class="font-weight-bold">
            Catégorie
          </h6>
          <p class="text-muted">
            Sélectionnez la catégorie qui décrit le mieux votre service pour une meilleure visibilité.
          </p>
          <div class="">
            {{ form_widget(form.categorie) }}
            {{ form_errors(form.categorie) }}
          </div>
        </div>

      <div class="text-left form-group">
        <button class="btn btn-dark">
          {{ button_label|default('Enregistrer et suivant') }}
        </button>
      </div>

      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% include 'vendeur/microservices/composants/_tarif_script.html.twig' %}
{% endblock %}
