<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{% block title %}{{ appName }} Vous accompagne dans la réalisation de vos projets sur mesure.{% endblock %}
	</title>

	{% block meta %}
	<meta name="author" content="{{ appName }}">
	<meta name="keywords" content="{{ appName }} : Vous accompagne dans la réalisation de vos projets sur mesure.">
	<meta name="description"
		content="Trouvez le vendeur qui saura répondre à vos besoins spécifiques et vous accompagner dans vos réalisations sur mesure.">
	{% endblock %}


	<!-- Favicon Icon -->
	<link rel="icon" href="{{ asset('img/logo/favicon.png') }}">
	<link href="{{ asset('themes/layout/css/main.css') }}" rel="stylesheet">
	<link href="{{ asset('themes/custom/custom.css') }}" rel="stylesheet">


	{% block stylesheet '' %}


	<script type="text/javascript" src="{{ asset('themes/layout/js/lib/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('themes/layout/js/lib/owl.carousel.js') }}"></script>
	<script type="text/javascript" src="{{ asset('themes/layout/js/lib/select2.js') }}"></script>
	<script type="text/javascript" src="{{ asset('themes/layout/js/lib/magnific-popup.js') }}"></script>

	{% block javascript '' %}

	<script type="text/javascript" src="{{ asset('themes/layout/js/script.js') }}"></script>

	<script type="text/javascript" src="{{ asset('themes/custom/script.js') }}"></script>

	<!-- Cke editor -->
	<script defer src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>

	<script src="{{ asset('themes/custom/tarteaucitron/tarteaucitron.min.js') }}"></script>

	<script type="text/javascript">
		tarteaucitron.init({
			"privacyUrl": "", /* Url de la politique de confidentialité */
			"bodyPosition": "top", /* top place le bandeau de consentement au début du code html, mieux pour l'accessibilité */

			"hashtag": "#tarteaucitron", /* Hashtag qui permet d'ouvrir le panneau de contrôle  */
			"cookieName": "tarteaucitron", /* Nom du cookie (uniquement lettres et chiffres) */

			"orientation": "middle", /* Position de la bannière (top - bottom - popup - banner) */

			"groupServices": true, /* Grouper les services par catégorie */
			"showDetailsOnClick": true, /* Cliquer pour ouvrir la description */
			"serviceDefaultState": "wait", /* Statut par défaut (true - wait - false) */

			"showAlertSmall": false, /* Afficher la petite bannière en bas à droite */
			"cookieslist": false, /* Afficher la liste des cookies */

			"closePopup": true, /* Afficher un X pour fermer la bannière */

			"showIcon": false, /* Afficher un cookie pour ouvrir le panneau */
			//"iconSrc": "", /* Optionnel: URL ou image en base64 */
			"iconPosition": "BottomRight", /* Position de l'icons: (BottomRight - BottomLeft - TopRight - TopLeft) */

			"adblocker": false, /* Afficher un message si un Adblocker est détecté */

			"DenyAllCta" : true, /* Afficher le bouton Tout refuser */
			"AcceptAllCta" : true, /* Afficher le bouton Tout accepter */
			"highPrivacy": true, /* Attendre le consentement */
			"alwaysNeedConsent": false, /* Demander le consentement même pour les services "Privacy by design" */

			"handleBrowserDNTRequest": false, /* Refuser tout par défaut si Do Not Track est activé sur le navigateur */

			"removeCredit": false, /* Retirer le lien de crédit vers tarteaucitron.io */
			"moreInfoLink": false, /* Afficher le lien En savoir plus */

			"useExternalCss": false, /* Mode expert : désactiver le chargement des fichiers .css tarteaucitron */
			"useExternalJs": false, /* Mode expert : désactiver le chargement des fichiers .js tarteaucitron */

			//"cookieDomain": ".my-multisite-domaine.fr", /* Optionnel: domaine principal pour partager le consentement avec des sous domaines */

			"readmoreLink": "", /* Changer le lien En savoir plus par défaut */

			"mandatory": true, /* Afficher un message pour l'utilisation de cookies obligatoires */
			"mandatoryCta": false, /* Afficher un bouton pour les cookies obligatoires (déconseillé) */

			//"customCloserId": "", /* Optionnel a11y: ID personnalisé pour ouvrir le panel */

			"googleConsentMode": true, /* Activer le Google Consent Mode v2 pour Google ads & GA4 */
			"bingConsentMode": true, /* Activer le Bing Consent Mode pour Clarity & Bing Ads */
			"softConsentMode": false, /* Soft consent mode (le consentement est requis pour charger les tags) */

			"dataLayer": false, /* Envoyer un événement dans dataLayer avec le statut des services */
			"serverSide": false, /* Server side seulement, les tags ne sont pas chargé côté client */

			"partnersList": false /* Afficher le détail du nombre de partenaires sur la bandeau */
		});

		setTimeout(function() {
		 	document.getElementById('tarteaucitronRoot').classList.add('visible');
		 }, 4000);

		(tarteaucitron.job = tarteaucitron.job || []).push('googlesignin');
		(tarteaucitron.job = tarteaucitron.job || []).push('facebook');
		// (tarteaucitron.job = tarteaucitron.job || []).push('linkedin');
		(tarteaucitron.job = tarteaucitron.job || []).push('instagram');
		(tarteaucitron.job = tarteaucitron.job || []).push('youtube');
		tarteaucitron.user.googleFonts = 'families';
		(tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
	</script>

{#	<script type="text/javascript">#}
{#		tarteaucitron.init({#}
{#			"privacyUrl": "{{ path('page_politiques') }}",#}
{#			"bodyPosition": "top",#}
{#			"hashtag": "#tarteaucitron",#}
{#			"cookieName": "tarteaucitron",#}
{#			"orientation": "middle",#}
{#			"groupServices": true,#}
{#			"showDetailsOnClick": true,#}
{#			"serviceDefaultState": "wait",#}
{#			"showAlertSmall": true,#}
{#			"cookieslist": false,#}
{#			"closePopup": true,#}
{#			"showIcon": false,#}
{#			"iconPosition": "BottomRight",#}
{#			"adblocker": false,#}
{#			"DenyAllCta": true,#}
{#			"AcceptAllCta": true,#}
{#			"highPrivacy": true,#}
{#			#}{#"iconSrc": "{{ asset('img/logo/favicon.png') }}",#}
{#			"alwaysNeedConsent": false,#}
{#			"handleBrowserDNTRequest": false,#}
{#			"removeCredit": false,#}
{#			"moreInfoLink": true,#}
{#			"useExternalCss": false,#}
{#			"useExternalJs": false,#}
{#			"mandatory": true,#}
{#			"mandatoryCta": false,#}
{#			"googleConsentMode": true,#}
{#			"readmoreLink": "{{ path('app_about') }}",#}
{#			"bingConsentMode": true,#}
{#			"softConsentMode": false,#}
{#			"dataLayer": false,#}
{#			"serverSide": false,#}
{#			"partnersList": true,#}

{#			"theme": "edgeless" // Style moderne sans bordures arrondies#}
{#		});#}


{#		// setTimeout(function() {#}
{#		// 	document.getElementById('tarteaucitronRoot').classList.add('visible');#}
{#		// }, 4000);#}

{#		(tarteaucitron.job = tarteaucitron.job || []).push('googlesignin');#}
{#		(tarteaucitron.job = tarteaucitron.job || []).push('facebook');#}
{#		// (tarteaucitron.job = tarteaucitron.job || []).push('linkedin');#}
{#		(tarteaucitron.job = tarteaucitron.job || []).push('instagram');#}
{#		(tarteaucitron.job = tarteaucitron.job || []).push('youtube');#}
{#		tarteaucitron.user.googleFonts = 'families';#}
{#		(tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');#}
{#	</script>#}

	<style>
		#tarteaucitronRoot {
			opacity: 0 !important;
			pointer-events: none !important;
		}
		#tarteaucitronRoot.visible {
			opacity: 1 !important;
			pointer-events: auto !important;
		}
	</style>

</head>

<body data-turbo="false" class="bg userConnected {% block body_class '' %}">

	{% block navbar %}
		{{ include('partials/base/_header.html.twig') }}
	{% endblock %}

	{% block serviceBlocNavigation %}{% endblock %}

	{% block _flash %}
		{{ include('partials/_flash_message.html.twig') }}
	{% endblock %}



	{% block body %}{% endblock %}

	<!--       footer -->
	{% block footer %}
	{{ include('partials/base/_footer.html.twig') }}
	{% endblock %}

	<script>
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function () {
			let fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);

			let i = $(this).prev('label').clone();
			let file = $(".custom-file-input")[0].files[0].name;
			let label = $(".label");
			label.text(file);
		});
	</script>

</body>

</html>