<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{% block title %}{{ appName }} Vous accompagne dans la réalisation de vos projets sur mesure.{% endblock %}
	</title>

	{% block meta %}
	<meta name="author" content="{{ appName }}">
	<meta name="keywords" content="{{ appName }} : Vous accompagne dans la réalisation de vos projets sur mesure.">
	<meta name="description"
		content="Trouvez le vendeur qui saura répondre à vos besoins spécifiques et vous accompagner dans vos réalisations sur mesure.">
	{% endblock %}


	<!-- Favicon Icon -->
	<link rel="icon" type="{{ asset('img/Logo.png') }}" href="images/fav.svg">
	<link href="{{ asset('themes/layout/css/main.css') }}" rel="stylesheet">
	<link href="{{ asset('themes/custom/custom.css') }}" rel="stylesheet">
	<script type="text/javascript" src="{{ asset('themes/layout/js/lib/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('themes/layout/js/lib/owl.carousel.js') }}"></script>
	<script type="text/javascript" src="{{ asset('themes/layout/js/lib/select2.js') }}"></script>
	<script type="text/javascript" src="{{ asset('themes/layout/js/lib/magnific-popup.js') }}"></script>

	{% block javascript '' %}

	<script type="text/javascript" src="{{ asset('themes/layout/js/script.js') }}"></script>

	<script type="text/javascript" src="{{ asset('themes/custom/script.js') }}"></script>

	<!-- Cke editor -->
	<script defer src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>

</head>

<body data-turbo="false" class="bg userConnected {% block body_class '' %}">

	{% block navbar %}
		{{ include('partials/base/_header.html.twig') }}
	{% endblock %}

	{% block serviceBlocNavigation %}{% endblock %}

	{{ include('partials/_flash_message.html.twig') }}

	{% block body %}{% endblock %}

	<!--       footer -->
	{% block footer %}
	{{ include('partials/base/_footer.html.twig') }}
	{% endblock %}

	<script>
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function () {
			let fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);

			let i = $(this).prev('label').clone();
			let file = $(".custom-file-input")[0].files[0].name;
			let label = $(".label");
			label.text(file);
		});
	</script>

</body>

</html>